.error {
    font-style: italic;
    color: rgb(163, 22, 22);
}

.m-loader--inline::before {
    margin-top: -1.7rem
}
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}